/* Write your CSS code here */

.headerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.headerImg {
  width: 15vw;
  height: 10vh;
}
.contH1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 32vw;
}

.login-buttonH {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;

  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
}
